doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    meta(name="keywords" value="range-slider demo")
    meta(name="description" value="The page contains range-slider demo")
    title Range-slider demo
    //link(href="./demo.scss" rel="stylesheet")
    //script(src="./demo.ts" defer)

  body
    .demo
      h1.demo__title Range-slider plagin demo page
      //+slider-section()
      //+slider-section()
      //+slider-section()