@import '../assets/scss/main.scss';

.slider {
  position: relative;
  height: 70px;

  &__scale {
    width: calc(100% - 70px);
    height: 10px;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: $lightgrey;
    cursor: pointer;
  }

  &__handle {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid $green;
    background-color: $white;
    box-shadow: 0px 5px 5px -1px $darkgrey;
    //box-shadow: 0px 2px 5px 2px $green;
    cursor: pointer;

    &:hover {
      border-width: 3px;
      //box-shadow: 0px 0px 5px 2px $green;
    }
    
    &_min {}

    &_max {
      left: 70%;
    }
  }
}