@import '../assets/scss/main.scss';

.slider {
  position: relative;
  height: 70px;

  &__scale {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 70px);
    height: 10px;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: $lightgrey;
    cursor: pointer;
  }
  
  &__scale-label {
    //width: 100%;
    //position: absolute;
    background-color: $lightgrey;
    //transform: translateY(-40px);
  }
  &__scale-pin {
    width: 1px;
    height: 15px;
    background-color: $lightgrey;
  }
  &__scale-text {
    width: 100%;
    background-color: $lightgrey;
  }
  
  &__handle {
    width: 70px;
    height: 70px;
    position: absolute;
    //left: 35px;
    z-index: 1;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid $green;
    background-color: $white;
    box-shadow: 0px 5px 5px -1px $darkgrey;
    //box-shadow: 0px 2px 5px 2px $green;
    cursor: pointer;

    &:hover {
      border-width: 3px;
      //box-shadow: 0px 0px 5px 2px $green;
    }
    
    &_min {
      left: 35px;
    }

    &_max {
      left: 70%;
    }
  }

  &__select-bar {
    width: 70%;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: $green;
    cursor: pointer;
  }
}